[Unit]
Description=Taiko Node Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/taiko-node
ExecStart=/usr/local/bin/docker-compose -f docker-compose.yml --profile l2_execution_engine up --remove-orphans
ExecStop=/usr/local/bin/docker-compose -f docker-compose.yml --profile l2_execution_engine down
Restart=always

[Install]
WantedBy=multi-user.target
